* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

h1 {
    font-family: 'Megrim', cursive;
    color: #fff;
}

h1.post_head {
    font-size: 32px;
}

h1.feedback_header {
    font-size: 20px;
}

body {
    background: url('../img/space3.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

header {
    height: 54px;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #000;
    opacity: 0.8;
}

.back {
    width: 54px;
    height: 54px;
    float: left;
    padding-left: 15px;
}

header, .posts-wrapper, .feedbacks-wrapper {
    margin: 0 25%;
    width: 50%;
}

.posts-wrapper, .feedbacks-wrapper     {
    height: calc(100% - 55px);
    position: absolute;
    overflow: hidden;
    top: 54px;
}

.posts, .feedbacks {
    position: relative;
    z-index: 1;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: scroll;
}

.navigation_for_all-wrapper {
    height: 100%;
    line-height: 50px;
    text-align: right;
}

.navigation_for_all {
    margin: 0 5px 0 0;
}

.button_of_nav {
    font-family: 'Megrim', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.button_of_nav_for_all {
    padding: 0 10px;
}

.button_of_nav_for_all, .button_of_nav_for_me {
    font-size: 30px;
}

.button_of_nav_for_me {
    opacity: 0.6;
}

.navigation_for_me-wrapper {
    top: 0;
    position: fixed;
    right: 0;
    width: 200px;
    height: 145px;
    background: #000;
    opacity: 0.8;
    text-align: center;
}

.navigation_for_me {
    vertical-align: middle;
}

.button_of_nav_for_me {
    margin: 10px 0;
}

a.button_of_nav {
    color: #D3D3D3;
    text-decoration: none;
    opacity: 0.8;
}

a.button_of_nav:hover {
    color: #fff;
}

.button_of_post, .button_of_feedback {
    color: #D3D3D3;
    text-decoration: none;
    font-size: 10px;

}

p, .button_of_post, .post_added_inf, .post_open, .post_text, .controls_of_feedback, .reply_field, .feedback_form_field {
    font-family: 'Exo', sans-serif;
}

.button_of_post:hover, .button_of_feedback:hover {
    color: #D8BFD8;
}

.post_added_inf, .feedback_added_inf {
    font-size: 10px;
}

.button_of_post, .post_added_inf, .button_of_feedback {
    color: #fff;
    opacity: 1;
}

.button_of_post-wrapper, .post_added_inf, .post_open, .controls_of_feedback {
    margin-right: 10px;
}

.button_of_post-wrapper, .buttons_of_feedback {
    display: inline-block;
}

.post_open {
    padding-top: 15px;
}

.post, .feedback {
    /*margin: 0 auto 50px auto;*/
    word-wrap: break-word;
    font-size: 20px;
    color: #D3D3D3;
    opacity: 0.7;
}

p.post_text, p.feedback_message {
    font-size: 15px;
    padding: 10px;
}

.end_post {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.end_post1 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;

}

.controls-wrapper, .controls_of_feedback {
    text-align: right;
}

.feedback_form_field, .reply_field {
    width: 100%;
    background: rgba(161, 159, 159, 0.1);
    border: 0px;
    position: relative;
    padding-left: 3px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.username_field {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.message_field, .reply_message {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.username_field, .usermail_field, .topic_field, .reply_username, .reply_usermail, .reply_topic {
    height: 20px;
    margin-bottom: 2px;
}

.message_field {
    margin-bottom: 2px;
}

.button {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    height: 20px;
    top: -3px;
    left: 1.5px;
    padding-left: 0;
    border-radius: 4px;
}

.wrong_email {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4px;
}

.feedback_form_wrapper-2, .reply_wrapper-2 {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
}

.feedback_form_wrapper-1, .reply_wrapper-1 {
    display: table-cell;
    vertical-align: middle;
}

.feedback_form_wrapper, .reply_wrapper {
    vertical-align: middle;
    margin: 0 25%;
    position: relative;
    width: 50%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;

}

.feedback_form {
    margin: 0 10%;
    position: absolute;
    padding: 5%;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    top: calc(50% - 162px);
    border-radius: 20px;
}

.reply {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 10%;
    width: 70%;
    top: calc(50% - 133px);
    padding: 5%;
    border-radius: 20px;
}

.end_of_feedback_message {
    height: 1px;
    margin: 5px 0 15px 0;
    background: rgba(255, 255, 255, 0.5);
}
